<table *ngIf="!initChat" class="table table-sm table-bordered table-dark">
	<thead>
		<th scope="col">#</th>
		<th scope="col">Usuário</th>
		<th scope="col">Data de criação</th>
		<th scope="col">Status</th>
	</thead>
	<tbody>
		<tr *ngFor="let chat of chats; let i = index">
			<th scope="row">{{i + 1}}</th>
			<td>{{chat.user.email}}</td>
			<td>{{chat.creationDate | date}}</td>
			<td>{{chat.status}}</td>
			<td>
				<button [disabled]="chat.status == 3" class="btn btn-secondary btn-sm btn-block" (click)="delete(chat.id)">Delete</button>
			</td>
		</tr>
	</tbody>
</table>

<form *ngIf="!initChat" class="form-signin">
	<h1 class="h3 mb-3 font-weight-normal">Login</h1>
	<input [(ngModel)]="email" [ngModelOptions]="standalone" type="email" id="inputEmail" class="form-control" placeholder="E-mail" required autofocus>
	<input [(ngModel)]="password" [ngModelOptions]="standalone" type="password" id="inputPassword" class="form-control" placeholder="Senha" required>
	<button (click)="login()" class="btn btn-lg btn-primary btn-block">Entrar</button>
	<p class="mt-5 mb-3 text-muted">&copy; 2019</p>
</form>

<div *ngIf="initChat" class="container chat">
	<button (click)="close()" type="button" class="close" aria-label="Fechar"><span>&times;</span></button>
	<div class="conversas">

		<div *ngFor="let oldChat of oldChats" class="dia">
			<h5 class="text-center">{{oldChat.creationDate | date}}</h5>
			<hr>
			<div *ngFor="let chat of oldChat.conteudo">
				<div class="row bloco">
					<h4>{{chat.bot ? 'Bot' : 'Eu'}} &bull;</h4>
					<p>{{chat.time | date: 'shortTime'}}</p>
				</div>
				<div class="row fala">
					{{chat.dialogo}}
				</div>
			</div>
		</div>

		<div class="dia atual">
			<h5 class="text-center">{{hoje | date}}</h5>
			<hr>
      <div *ngFor="let x of conversaAtual">
        <div class="row bloco">
          <h4>{{x.bot ? 'Bot' : 'Eu'}} &bull;</h4>
          <p>{{x.time | date: 'shortTime'}}</p>
        </div>
        <div class="row fala">
          {{x.dialogo}}
        </div>
      </div>
		</div>

	</div>
	<form class="escrever form-inline">
		<div class="form-group">
			<textarea [(ngModel)]="message" [ngModelOptions]="standalone" class="form-control"></textarea>
		</div>
		<button (click)="pergunta()" class="btn btn-info"><fa-icon [icon]="faPaperPlane"></fa-icon></button>
	</form>
</div>