p {
  font-family: Lato;
}

.chat {
  min-height: 750px;
  background: #dcdcdc;
  border-radius: 5px;
  position: relative;
  top: 1px;
}

.escrever {
  /* bottom: 23px; */
  position: absolute;
  min-height: 50px;
  border-radius: 5px;
  overflow: hidden;
  top: 42rem;
}

.chat button {
  margin-left: 11px;
}

.chat textarea {
  width: 416px;
}

.close {
  margin: 0 !important;
  position: absolute;
  right: 40px;
}

.conversas {
  padding: 20px;
  overflow: auto;
  height: auto;
  max-height: 600px;
}

::-webkit-scrollbar {
    width: 0px;
}

.bloco p {
  padding: 4px 6px;
  color: #adadad;
}

.dia h5 {
  width: 30%;
  position: relative;
  left: 35%;
  margin: 0;
  top: 25px;
  background: #dcdcdc;
}

.fala {
  position: relative;
  bottom: 15px;
}

.option-chat {
  width: 75%;
  text-align: center;
  margin: 5px;
}

.choice {
  cursor: pointer;
  background-color: white;
  color: #0063b1;
  font-weight: bold;
  border-style: solid;
  border-width: 1px;
  border-color: #e6e6e6;
  padding: 5px;
  width: 100%;
  -ms-flex-line-pack: center;
  align-content: center;
}

.choice p {
  width: 18.5em;
  word-wrap: break-word;
  margin: 0;
}
