p {
  font-family: Lato;
}

.chat {
  min-height: 800px;
  background: #dcdcdc;
  border-radius: 5px;
}

.escrever {
  bottom: 23px;
  position: absolute;
  min-height: 50px;
  border-radius: 5px;
  overflow: hidden;
}

.chat button {
  margin-left: 11px;
}

.chat textarea {
  width: 416px;
}

.close {
  margin: 0 !important;
  position: absolute;
  right: 40px;
}

.conversas {
  padding: 20px;
  overflow: auto;
  height: auto;
  max-height: 700px;
}

::-webkit-scrollbar {
    width: 0px;
}

.bloco p {
  padding: 4px 6px;
  color: #adadad;
}

.dia h5 {
  width: 30%;
  position: relative;
  left: 35%;
  margin: 0;
  top: 25px;
  background: #dcdcdc;
}

.fala {
  position: relative;
  bottom: 15px;
}