<table class="table table-sm table-bordered table-dark">
	<thead>
		<th scope="col">#</th>
		<th scope="col">Usuário</th>
		<th scope="col">Data de criação</th>
		<th scope="col">Status</th>
	</thead>
	<tbody>
		<tr *ngFor="let chat of chats; let i = index">
			<th scope="row">{{i + 1}}</th>
			<td>{{chat.user}}</td>
			<td>{{chat.creationDate | date}}</td>
			<td>{{chat.status}}</td>
			<td>
				<button class="btn btn-secondary btn-sm btn-block" (click)="delete(chat.id)">Delete</button>
			</td>
		</tr>
	</tbody>
</table>

<form *ngIf="initChat" class="form-signin">
	<h1 class="h3 mb-3 font-weight-normal">Login</h1>
	<input type="email" id="inputEmail" class="form-control" placeholder="E-mail" required autofocus>
	<input type="password" id="inputPassword" class="form-control" placeholder="Senha" required>
	<button (click)="login()" class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
	<p class="mt-5 mb-3 text-muted">&copy; 2019</p>
</form>

<div *ngIf="!initChat" class="container chat">
	<button type="button" class="close" aria-label="Fechar">
  <span aria-hidden="true">&times;</span>
  </button>
	<form class="escrever form-inline">
		<div class="form-group">
			<textarea class="form-control"></textarea>
		</div>
		<button class="btn btn-info"><fa-icon [icon]="faPaperPlane"></fa-icon></button>
	</form>
</div>